################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/ApiGateways/ApiGateway/bin
/src/Clients/Client1/bin/Debug/netcoreapp2.0
/src/Clients/Client1/obj
/src/QuickStart/QuickStart.Server1/bin
/src/QuickStart/QuickStart.Server1/obj
*.user
/src/QuickStart/QuickStart.Services/bin
/src/QuickStart/QuickStart.Services/obj
/src/QuickStart.ApiGateway/bin/Debug/netcoreapp2.0
/src/QuickStart.ApiGateway/obj
/src/Servers/Server1/obj
/src/Servers/Server1.DotnettyForTransfer/bin
/src/Servers/Server1.DotnettyForTransfer/obj
/src/Servers/Server2.HttpForTransfer/bin
/src/Servers/Server2.HttpForTransfer/obj
/src/Services/IServices/bin/Debug/netcoreapp2.0
/src/Services/IServices/obj
/src/Services/JustServcies/bin
/src/Services/JustServcies/obj
/src/Services/Services/bin/Debug/netcoreapp2.0
/src/Services/Services/obj
/src/QuickStart/QuickStart.ApiGateway/bin/Debug/netcoreapp2.0
/src/QuickStart/QuickStart.ApiGateway/obj
/src/ApiGateways/ApiGateway/obj
/src/News/ApiGateway/bin
/src/News/ApiGateway/log
/src/News/ApiGateway/obj
/src/News/MicroServices/Authorize/Authorize.IServices/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Authorize/Authorize.IServices/obj
/src/News/MicroServices/Authorize/Authorize.Server/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Authorize/Authorize.Server/obj
/src/News/MicroServices/Authorize/Authorize.Services/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Authorize/Authorize.Services/obj
/src/News/MicroServices/News/News.IServices/bin/Debug/netcoreapp2.0
/src/News/MicroServices/News/News.IServices/obj
/src/News/MicroServices/News/News.Server/bin/Debug/netcoreapp2.0
/src/News/MicroServices/News/News.Server/obj
/src/News/MicroServices/News/News.Services/bin/Debug/netcoreapp2.0
/src/News/MicroServices/News/News.Services/obj
/src/News/MicroServices/Register/Register.IServices/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Register/Register.IServices/obj
/src/News/MicroServices/Register/Register.Server/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Register/Register.Server/obj
/src/News/MicroServices/Register/Register.Services/bin/Debug/netcoreapp2.0
/src/News/MicroServices/Register/Register.Services/obj
/src/News/MicroServices/News/News.IServices/bin/Release/netcoreapp2.0
/src/News/MicroServices/News/News.Server/bin/Release/netcoreapp2.0
/src/News/MicroServices/News/News.Services/bin/Release/netcoreapp2.0
/src/QuickStart/QuickStart.ApiGateway/log
/src/QuickStart/QuickStart.ApiGateway/bin/Debug/netcoreapp2.2
